<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="task" href="/home/task">
      <ion-icon name="list"></ion-icon>
      <ion-label>Task</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="users" href="/home/users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="post" href="/home/post">
      <ion-icon name="send"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
